<section class="streamers__area section-pt-95 section-pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-10">
                <div class="section__title text-center mb-60">
                    <span class="sub-title tg__animate-text">Our top streamers</span>
                    <h3 class="title">top rated streamers</h3>
                </div>
            </div>
        </div>
        <div class="swiper-container streamers-active">
            <div class="swiper-wrapper">
                <div *ngFor="let item of streamers_data" class="swiper-slide">
                    <div class="streamers__item">
                        <div class="streamers__thumb">
                            <a routerLink="/team-details/1">
                                <img [src]="item.img" alt="img">
                            </a>
                        </div>
                        <div class="streamers__content">
                            <h4 class="name">{{ item.title }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="streamers__pagination">
            <div (click)="swiperInstance?.slidePrev()" class="slider-button-prev streamers__pagination-arrow">
                <i class="fas fa-angle-left"></i>
            </div>
            <div class="swiper-pagination streamers__pagination-dots"></div>
            <div (click)="swiperInstance?.slideNext()" class="slider-button-next streamers__pagination-arrow">
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
    </div>
</section>