<div>
    <!-- header area start -->
    <app-header-two></app-header-two>
    <!-- header area end -->

    <main class="main--area">

        <!-- hero area start -->
         <app-hero-three></app-hero-three>
        <!-- hero area end -->

        <!-- about area start -->
        <app-about-area-three></app-about-area-three>
        <!-- about area end -->

        <!-- video area start -->
        <app-video-area-two></app-video-area-two>
        <!-- video area end -->

        <!-- service area start -->
        <app-service-area></app-service-area>
        <!-- service area end -->

        <!-- upcoming matches area start -->
        <app-upcoming-matches-area-two></app-upcoming-matches-area-two>
        <!-- upcoming matches area end -->

        <!-- team area start -->
        <app-team-area-two></app-team-area-two>
        <!-- team area end -->

        <!-- blog area start -->
        <app-blog-area></app-blog-area>
        <!-- blog area end -->

        <!-- brand area start -->
        <app-brand-area top_cls="brand-area3 pb-60" [hideTitle]="true"></app-brand-area>
        <!-- brand area end -->

    </main>

    <!-- footer area start -->
     <app-footer-three/>
    <!-- footer area end -->
</div>