<section class="offer__area fix bg-img-cover bg-img-center" style="background-image: url(/assets/img/bg/offer_bg5.png);">
  <div class="container custom-container4">
      <div class="row justify-content-center flex-row-reverse">
          <div class="col-xl-5">
              <div class="section__title text-center title-shape-none">
                  <h3 class="title2">UPTO 70% OFF</h3>
                  <p>Register for your newsletter today to stay updated on your latest product
                      release and exclusive offers</p>
                  <div class="btn-group">
                      <a routerLink="/shop" class="tg-btn-4">
                          <span>Explore Items</span>
                      </a>
                      <a routerLink="/shop" class="tg-btn-4">
                          <span>Items Details</span>
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-xl-7 align-self-end">
              <div class="offer-thumb">
                  <img src="/assets/img/others/offer-thumb5-1.png" alt="img">
              </div>
          </div>
      </div>
  </div>
</section>