<section class="about__area section-pb-120">
    <div class="container">
        <div class="row gy-5 justify-content-center align-items-center">
            <div class="col-xl-6">
                <div class="about__funFact-images3">
                    <img class="main-img1" data-magnetic src="/assets/img/others/about_img3-1.png" alt="background">
                    <img class="main-img2" data-magnetic src="/assets/img/others/about_img3-2.png" alt="image">
                    <img class="main-img3" data-magnetic src="/assets/img/others/about_img3-3.png" alt="image">
                </div>
            </div>
            <div class="col-xl-6">
                <div class="section__title text-start mb-30 title-shape-none">
                    <h6 class="sub-title2">More About My Self</h6>
                    <h3 class="title2">Original Esports
                         <br> <span class="text-theme d-inline-block position-relative"> Pro Player <img class="section-line" src="/assets/img/others/section-line.png" alt="img"></span></h3>
                </div>
                <div class="about__content-three mt-50">
                    <p>Commodo metus auctor potenti sapien eget porttitor, elementum semper cubilia lacinia praesent dis hac dui, nisi ridiculus lobortis purus primis platea. Suscipit ultricies pellentesque hendrerit lectus habitant mattis aenean, quis justo odio blandit vitae nascetur a, vulputate aptent.</p>
                </div>
                <div class="btn-group mt-4">
                    <a routerLink="/about" class="tg-btn-4">
                        <span>Learn More</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>