<div>
  <!-- header area start -->
  <app-header-one />
  <!-- header area end -->

  <main class="main--area">

    <!-- breadcrumb area start -->
    <app-breadcrumb-one
      title="SERVICE SINGLE"
      subtitle="SERVICES DETAILS"
      bg="/assets/img/bg/breadcrumb_bg01.jpg"
      brd_img="/assets/img/others/breadcrumb_img02.png"
    />
    <!-- breadcrumb area end -->

    <!-- service-details-area start-->
    <section class="services__details-area section-pt-120 section-pb-120" style="background-image: url(/assets/img/bg/team_details_bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="team__details-img">
                        <img src="/assets/img/others/services_details.jpg" alt="img">
                        <app-dots/>
                    </div>
                    <div class="team__details-content">
                        <span class="sub-title">Best NFT game</span>
                        <h2 class="title">Online Games for Everyone Find the Best MMOs FOR YOU.</h2>
                        <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euismods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euismods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. There are many variations of passages.</p>
                        <blockquote class="team__details-quote">
                            <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euimods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry.</p>
                            <cite>SHAKH DANIAL</cite>
                        </blockquote>
                        <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euismods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        <div class="team__details-inner-wrap">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="team__details-inner-img">
                                        <img src="/assets/img/others/services_details01.jpg" alt="img">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="team__details-inner-img">
                                        <img src="/assets/img/others/services_details02.jpg" alt="img">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euismods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-details-area-end -->


    <!-- faq area start -->
    <app-faq-area/>
    <!-- faq area end -->
  </main>

  <!-- footer area start -->
  <app-footer-one />
  <!-- footer area end -->
</div>
