<section class="banner__area banner__area-three">
    <div class="banner__bg tg-jarallax">
        <img src="/assets/img/slider/banner_bg4.png" alt="img">
    </div>
    <div class="container">
        <div class="row gy-5 align-items-center">
            <div class="col-xl-12">
                <div class="banner__content slider__content">
                    <span class="sub-title2" data-sal-delay="100" data-sal="slide-up" data-sal-duration="1000">Professional Esports Team</span>
                    <h2 class="title" data-sal-delay="200" data-sal="slide-up" data-sal-duration="1000">WELCOME TO MYKD – </h2>
                    <h2 class="title" data-sal-delay="300" data-sal="slide-up" data-sal-duration="1000">Game Development Agency</h2>
                    <div class="banner__btn d-flex" data-sal-delay="600" data-sal="slide-up" data-sal-duration="1000">
                        <a routerLink="/contact" class="tg-btn-5">
                            <span>Learn More</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>