<section class="video__area fix section-pb-120 section-pt-120 bg-img-cover bg-img-center" style="background-image: url(/assets/img/bg/video_bg4.png);">
    <div class="container">
        <div class="row justify-content-center justify-content-center">
            <div class="col-lg-auto">
                <div class="section__title mb-60 text-center title-shape-none">
                    <h6 class="sub-title2">Popular Videos</h6>
                    <h3 class="title2">Mykd Media Section</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="video__slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12">
                    <div class="swiper-container gallery-active">
                        <div class="swiper-wrapper">
                            <div *ngFor="let item of videoItemData" class="swiper-slide">
                                <div class="video__item2">
                                    <div class="video__thumb">
                                        <img [src]="item.imgSrc" alt="img">
                                        <a (click)="utilsService.playVideo(item.videoId)" href="javascript:void(0)" data-magnetic class="popup-video video-play-btn">
                                            <svg width="34" height="51" viewBox="0 0 34 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.24874 25L1.24874 1.45837L24.7904 25L1.24874 48.5416L1.24874 25Z" stroke="currentColor" stroke-opacity="0.2"/>
                                                <path d="M8.74874 26V1.25126L33.4975 26L8.74874 50.7487V26Z" fill="currentColor"/>
                                            </svg>
                                        </a>
                                    </div>
                                    <a routerLink="/service-details" class="video-card-title">
                                        <span class="icon"><i class="fas fa-link"></i></span>
                                        <span class="video-card-title-shape video-card-title-shape2">
                                            <img src="/assets/img/gallery/video3-card-title-shape2.png" alt="img">
                                        </span>
                                        <span class="title">
                                            <span class="video-card-title-shape video-card-title-shape1">
                                                <img src="/assets/img/gallery/video3-card-title-shape1.png" alt="img">
                                            </span>
                                            {{item.cardTitle}}
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>