<section class="banner__area banner__padding">
    <div class="banner__bg tg-jarallax" style="background-image: url(/assets/img/slider/banner_bg.jpg);"></div>
    <div class="container custom-container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10">
                <div class="banner__content slider__content text-center">
                    <h2 class="title" data-sal-delay="200" data-sal="slide-right" data-sal-duration="1000">
                        steaming
                    </h2>
                    <p data-sal-delay="400" data-sal="slide-right" data-sal-duration="1000">
                        video games online
                    </p>
                    <div class="banner__btn d-flex justify-content-center" data-sal-delay="600" data-sal="slide-right" data-sal-duration="1000">
                        <a routerLink="/contact" class="tg-btn-3 tg-svg mx-auto">
                            <app-svg-icon-anim [id]="'svg-1'" [icon]="'/assets/img/icons/shape.svg'"></app-svg-icon-anim>
                            <span>contact us</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>