<section class="cta-area position-relative section-pb-120">
  <div class="container custom-container4">
      <div class="cta-wrap">
          <div class="row justify-content-center align-items-center">
              <div class="col-xl-7">
                  <div class="cta-thumb">
                      <img src="/assets/img/others/cta-thumb.png" alt="img">
                  </div>
              </div>
              <div class="col-xl-5">
                  <div class="cta-content-wrap">
                      <div class="section__title mb-0 title-shape-none">
                          <h3 class="title mb-20">Best Gaming Sales</h3>
                          <p>Register for your newsletter today to stay updated on your latest product release and exclusive offers</p>
                          <a routerLink="/shop" class="tg-btn-5">
                              <span>Learn More</span>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>