<div>
    <!-- header area start -->
    <app-header-one />
    <!-- header area end -->

    <main class="main--area" *ngIf="selectedTeam">

        <!-- breadcrumb area start -->
        <app-breadcrumb-one [title]="selectedTeam.title" subtitle="TEAM DETAILS" bg="/assets/img/bg/breadcrumb_bg01.jpg" brd_img="/assets/img/team/breadcrumb_team.png" />
        <!-- breadcrumb area end -->

       
        <!-- team-info-area -->
        <section class="team__info-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="team__info-wrap">
                            <div class="team__info-discord">
                                <div class="about__content-circle">
                                    <img src="/assets/img/icons/circle02.svg" alt="img">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" version="1.1">
                                        <path id="textPath" d="M 0,75 a 75,75 0 1,1 0,1 z"></path>
                                        <text>
                                            <textPath href="#textPath">super nft Gaming sits</textPath>
                                        </text>
                                    </svg>
                                    <i class="flaticon-discord"></i>
                                </div>
                                <div class="team__info-discord-info">
                                    <span class="sub">Join Us</span>
                                    <h5 class="title"><a href="https://discord.com/" target="_blank">DISCORD</a></h5>
                                </div>
                            </div>
                            <div class="team__info-list">
                                <ul class="list-wrap">
                                    <li>
                                        <div class="team__info-item">
                                            <div class="team__info-icon">
                                                <img src="/assets/img/others/team_vs02.png" alt="img">
                                            </div>
                                            <div class="team__info-content">
                                                <span class="sub">Member</span>
                                                <h5 class="title">Black ninja</h5>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="team__info-item">
                                            <div class="team__info-icon">
                                                <i class="flaticon-swords-1"></i>
                                            </div>
                                            <div class="team__info-content">
                                                <span class="sub">Game play</span>
                                                <h5 class="title">Pubg Mobile</h5>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="team__info-item">
                                            <div class="team__info-icon">
                                                <i class="flaticon-diamond"></i>
                                            </div>
                                            <div class="team__info-content">
                                                <span class="sub">Win Time</span>
                                                <h5 class="title">04</h5>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- team-info-area-end -->

        <!-- team-details-area -->
        <section class="team__details-area section-pt-120 section-pb-120" style="background-image: url(/assets/img/bg/team_details_bg.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="team__details-img">
                            <img src="/assets/img/team/team_details.jpg" alt="img">
                            <app-dots/>
                        </div>
                        <div class="team__details-content">
                            <span class="sub-title">our team member</span>
                            <h2 class="title">Online Games for Everyone Find the Best MMOs FOR YOU.</h2>
                            <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euismods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                            <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euismods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. There are many variations of passages.</p>
                            <blockquote class="team__details-quote">
                                <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euimods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry.</p>
                                <cite>SHAKH DANIAL</cite>
                            </blockquote>
                            <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euismods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                            <div class="team__details-inner-wrap">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="team__details-inner-img">
                                            <img src="/assets/img/team/team_details01.jpg" alt="img">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="team__details-inner-img">
                                            <img src="/assets/img/team/team_details02.jpg" alt="img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euismods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- team-details-area-end -->

        <!-- video area start -->
        <app-video-area />
        <!-- video area end -->

        <!-- team area start -->
        <app-team-area />
        <!-- team area end -->

    </main>

    <!-- footer area start -->
    <app-footer-one />
    <!-- footer area end -->

    <!-- video popup area start -->
    <app-video-popup />
    <!-- video popup area end -->
</div>