<section class="services-area services__bg-color section-pt-120 section-pb-120">
    <div class="container">
      <div class="row align-items-end align-items-xl-start">
        <!-- Left Column -->
        <div class="col-lg-6">
          <div class="section__title text-start mb-65">
            <span class="sub-title tg__animate-text">powerful services</span>
            <h3 class="title">Our Powerful Services Done on time</h3>
          </div>
          <div class="services__wrapper">
            <div
              *ngFor="let item of serviceItems; let i = index"
              class="services__item"
              (mouseover)="handleMouseOver(i)"
              (mouseout)="handleMouseOut(i)"
            >
              <div class="services__icon">
                <i [class]="item.icon"></i>
              </div>
              <div class="services__content">
                <h4 class="title">
                  <a routerLink="/service-details">{{ item.title }}</a>
                </h4>
                <p>{{ item.desc }}</p>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Right Column -->
        <div class="col-lg-6">
          <div class="services__images">
            <div
              *ngFor="let img of serviceImages; let i = index"
              [class.active]="activeIndex === i"
              class="services__images-item"
            >
              <img [src]="img" alt="service image" />
              <a routerLink="/service-details" class="services__link">
                <i class="flaticon-next"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  