<section class="banner__area banner__area-four">
  <div class="banner__bg tg-jarallax">
    <img src="/assets/img/slider/banner_bg5.png" alt="img">
  </div>
  <div class="banner__bg-shape">
    <img src="/assets/img/slider/banner_bg_shape5-1.png" alt="img">
  </div>
  <div class="container custom-container4">
    <div class="row gy-5 align-items-center flex-row-reverse">
      <div class="col-xl-6">
        <div class="slider__img5">
          <img src="/assets/img/slider/slider_img05.png" data-magnetic="" alt="img">
        </div>
      </div>
      <div class="col-xl-6">
        <div class="banner__content slider__content">
          <h2 class="title" data-sal-delay="100" data-sal="slide-up" data-sal-duration="1000">Wooting 60HE <span class="text-stroke">Wooting 60HE</span>
          </h2>
          <h3 class="sub-title" data-sal-delay="200" data-sal="slide-up" data-sal-duration="1000">Challenge the industry
            with us</h3>
          <div class="banner__btn d-flex" data-sal-delay="600" data-sal="slide-up" data-sal-duration="1000">
            <a routerLink="/shop" class="tg-btn-5">
              <span>Order Now</span>
            </a>
            <a routerLink="/about" class="tg-btn-line">
              <span>Learn More</span>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>