<div>
    <!-- header area start -->
    <app-header-one />
    <!-- header area end -->

    <main class="main--area">

        <!-- breadcrumb area start -->
        <app-breadcrumb-one title="Reset Password" subtitle="Reset Password" bg="/assets/img/bg/breadcrumb_bg01.jpg" brd_img="/assets/img/others/breadcrumb_img02.png" />
        <!-- breadcrumb area end -->

        <!-- reset-password-area start-->
        <section class="signup__area team-bg section-pt-120 section-pb-120" style="background-image: url(/assets/img/bg/team_bg.jpg);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8">
                        <div class="singUp-wrap">
                            <h2 class="title">Forgot Password!</h2>
                            <p>Enter your email address to request password reset.</p>
                            <form [formGroup]="restPassForm" (ngSubmit)="onSubmit()" class="account__form">
                                <span *ngIf="(email?.hasError('required') && email?.touched) || (email?.hasError('email') && email?.dirty) || (formSubmitted && !email?.value)" class="text-danger">
                                    Email is required & must be a valid email
                                </span>
                                <div class="form-grp">
                                    <label for="email">Email</label>
                                    <input id="email" type="text" placeholder="Enter your email" formControlName="email">
                                </div>
                                <button type="submit" class="btn mt-15 btn-two arrow-btn">Send mail</button>
                            </form>
                            <div class="account__switch">
                                <p>Remember Password?<a routerLink="/login">Login</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- reset-password-area-end -->

    </main>

    <!-- footer area start -->
    <app-footer-one />
    <!-- footer area end -->
</div>