<link rel="stylesheet" href="styles.css">

<div>
    <!-- header area start -->
    <app-header-one />
    <!-- header area end -->

    <main class="main--area">
      
      <div class="breadcrumb-wrapper">
    <app-breadcrumb-one 
        title="Coming Soon!!!" 
        bg="/assets/img/bg/breadcrumb_bg01.jpg" 
        brd_img="/assets/img/others/breadcrumb_img02.png" 
    />
</div>  


        <!-- not found-area start-->
        <div class="error__area team-bg section-pt-120 section-pb-120" style="background-image: url(/assets/img/bg/team_bg.jpg);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-8 col-xl-7 col-lg-8">
                        <div class="error-content text-center">
                            <svg width="856" height="246" viewBox="0 0 856 246" fill="none" xmlns="">
                               
                                    fill="currentColor" />
                                <path d="" fill="currentColor" />
                            </svg>
                            <h2 class="title">The right place to buy your games and stream your clips!</h2>
                            <p>More details coming soon!!</p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- not found-area-end -->

    </main>

    <!-- footer area start -->
    <app-footer-one />
    <!-- footer area end -->
</div>
