<div>
    <!-- header area start -->
    <app-header-one />
    <!-- header area end -->

    <main class="main--area">

        <!-- breadcrumb area start -->
        <app-breadcrumb-one title="Coming Soon!!!" subtitle="Coming Soon!!!" bg="/assets/img/bg/breadcrumb_bg01.jpg" brd_img="/assets/img/others/breadcrumb_img02.png" />
        <!-- breadcrumb area end -->

        <!-- not found-area start-->
        <div class="error__area team-bg section-pt-120 section-pb-120" style="background-image: url(/assets/img/bg/team_bg.jpg);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-8 col-xl-7 col-lg-8">
                        <div class="error-content text-center">
                            <svg width="856" height="246" viewBox="0 0 856 246" fill="none" xmlns="">
                               
                                    fill="currentColor" />
                                <path d="" fill="currentColor" />
                            </svg>
                            <h2 class="title">Look Like You’re Lost</h2>
                            <p>Sorry, the page you are looking for could not be found</p>
                            <a routerLink="/home/home-one" class="btn">back to home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- not found-area-end -->

    </main>

    <!-- footer area start -->
    <app-footer-one />
    <!-- footer area end -->
</div>
