<div>
    <!-- header area start -->
    <app-header-one></app-header-one>
    <!-- header area end -->

    <main class="main--area">

        <!-- hero area start -->
        <app-hero-one></app-hero-one>
        <!-- hero area end -->

        <!-- nft area start -->
        <app-nft-area></app-nft-area>
        <!-- nft area end -->

        <div class="area-background" style="background-image: url('/assets/img/bg/area_bg01.jpg');">
            <!-- about area start -->
            <app-about-area></app-about-area>
            <!-- about area end -->

            <!-- gallery area start -->
            <app-gallery-area></app-gallery-area>
            <!-- gallery area end -->
        </div>

        <!-- team area start -->
        <app-team-area></app-team-area>
        <!-- team area end -->

        <!-- video area start -->
        <app-video-area></app-video-area>
        <!-- video area end -->

        <!-- road map area start -->
        <app-road-map-area></app-road-map-area>
        <!-- road map area end -->

        <!-- trending nft items area start -->
        <app-trending-nft-items></app-trending-nft-items>
        <!-- trending nft items area end -->

    </main>

    <!-- footer area start -->
    <app-footer-one></app-footer-one>
    <!-- footer area end -->

    <!-- video popup start -->
    <app-video-popup></app-video-popup>
    <!-- video popup end -->
</div>