<div>
    <!-- header area start -->
    <app-header-one></app-header-one>
    <!-- header area end -->

    <main class="main--area">

        <!-- breadcrumb area start -->
        <app-breadcrumb-two title="Tournament Details" subtitle="Tournament Details" />
        <!-- breadcrumb area end -->

        <!-- tournament details area start -->
         <app-tournament-details-area></app-tournament-details-area>
        <!-- tournament details area end -->


    </main>

    <!-- footer area start -->
    <app-footer-one></app-footer-one>
    <!-- footer area end -->

    <!-- video popup area start -->
    <app-video-popup></app-video-popup>
    <!-- video popup area end -->
</div>