<footer class="footer-style-four bg-img-cover bg-img-center" style="background-image: url(/assets/img/bg/footer_bg4.png);">
    <div class="footer__top-wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="footer-widget text-center">
                        <div class="footer-logo logo">
                            <a routerLink="/home/home-one">
                                <img src="/assets/img/logo/preloader.png" alt="Logo">
                            </a>
                        </div>
                        <div class="footer-menu-link mt-20">
                            <a routerLink="/home/home-one">Home</a>
                            <a routerLink="/about">About</a>
                            <a routerLink="/shop">Shop</a>
                            <a routerLink="/tournament">Tournament</a>
                            <a routerLink="/blog">Blog</a>
                        </div>
                    </div>
                    <div class="footer-newsletter2">
                        <h4 class="title">MYKD NEWSLETTER</h4>
                        <form action="#" class="footer-newsletter-form2">
                            <input type="email" placeholder="Enter Email Address">
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright__wrap">
            <div class="row gy-2 align-items-center">
                <div class="col-lg-6">
                    <div class="copyright__text">
                        <p>Copyright © {{currentYear}} - All Rights Reserved By <span>Mykd</span></p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="copyright__menu">
                        <ul class="list-wrap d-flex flex-wrap justify-content-center justify-content-lg-end">
                            <li><a routerLink="/contact">Contact Us</a></li>
                            <li><a routerLink="/contact">Join our team</a></li>
                            <li><a routerLink="/contact">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>