<footer class="footer-style-three bg-img-cover bg-img-center" style="background-image: url(/assets/img/bg/footer_bg3.png);">
    <div class="footer__top-wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-4 col-lg-5 col-md-7">
                    <div class="footer-widget">
                        <div class="footer-logo logo">
                            <a routerLink="/home/home-one"><img src="/assets/img/logo/logo.png" alt="Logo"></a>
                        </div>
                        <div class="footer-text">
                            <p class="desc">Commodo metus auctor poti sapien eget porttitor, elementum semper cubilia lacinia praesent dis hac dui, nisi ridiculus</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="footer-widget">
                        <div class="footer-contact-link">
                            <div class="icon">
                                <app-location-svg/>
                            </div>
                            <div>
                                <h4 class="title">Office Location:</h4>
                                <p>Marks Dan Street 15UIK, Berlin <br class="d-lg-block d-none">
                                    FP 256 Germany.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="footer-widget">
                        <div class="footer-contact-link">
                            <div class="icon">
                                <app-contact-svg/>
                            </div>
                            <div>
                                <h4 class="title">Contact:</h4>
                                <a class="link" href="tel:163254736587">(+163)-2547-36587</a>
                                <a class="link" href="mailto:infohelp@example.com">infohelp&#64;example.com</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright__wrap">
            <div class="row gy-2 align-items-center">
                <div class="col-lg-6">
                    <div class="copyright__text">
                        <p>Copyright © {{currentYear}} - All Rights Reserved By <span>Mykd</span></p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="copyright__menu">
                        <ul class="list-wrap d-flex flex-wrap justify-content-center justify-content-lg-end">
                            <li><a routerLink="/contact">Contact Us</a></li>
                            <li><a routerLink="/contact">Join our team</a></li>
                            <li><a routerLink="/contact">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>