<div>
    <!-- header area start -->
    <app-header-one [style_2]="true"></app-header-one>
    <!-- header area end -->

    <main class="main--area">

        <!-- hero area start -->
        <app-hero-two></app-hero-two>
        <!-- hero area end -->

        <!-- match result area start -->
        <app-match-result-area></app-match-result-area>
        <!-- match result area end -->

        <!-- area background start -->
         <div class="area-background" style="background-image: url(/assets/img/bg/area_bg02.jpg);">

            <!-- about area start -->
             <app-about-area-two></app-about-area-two>
            <!-- about area end -->

            <!-- streamers area start -->
            <app-streamers-area></app-streamers-area>
            <!-- streamers area end -->

         </div>
        <!-- area background end -->

        <!-- upcoming matches area start -->
        <app-upcoming-matches-area></app-upcoming-matches-area>
        <!-- upcoming matches area end -->

        <!-- project area start -->
         <app-project-area></app-project-area>
        <!-- project area end -->

        <!-- social area start -->
        <app-social-area></app-social-area>
        <!-- social area end -->

        <!-- brand area start -->
        <app-brand-area></app-brand-area>
        <!-- brand area end -->

    </main>

    <!-- footer area start -->
     <app-footer-two></app-footer-two>
    <!-- footer area end -->

     <!-- video popup area start -->
     <app-video-popup></app-video-popup>
     <!-- video popup area end -->
</div>