<div>
    <!-- header area start -->
    <app-header-one></app-header-one>
    <!-- header area end -->

    <main class="main--area">

        <!-- breadcrumb area start -->
        <app-breadcrumb-one title="ABOUT US" subtitle="ABOUT US"></app-breadcrumb-one>
        <!-- breadcrumb area end -->

        <!-- about-area start-->
         <app-about-area-five></app-about-area-five>
        <!-- about-area-end -->

        <!-- service-area start -->
        <app-service-area-two></app-service-area-two>
        <!-- service-area end -->

        <!-- team area start -->
        <app-team-area></app-team-area>
        <!-- team area end -->

    </main>

    <!-- footer area start -->
    <app-footer-one></app-footer-one>
    <!-- footer area end -->
</div>