<section class="roadMap__area roadMap-bg section-pt-150 section-pb-150" style="background-image: url(/assets/img/bg/roadmap_bg.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="roadMap__inner">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6">
                            <div class="roadMap__content">
                                <h2 class="title">a look into roadmaps seasons</h2>
                                <p>
                                    With Season 1 Ending with our play and Duis elementum
                                    sollicitudin is yaugue euismods Nulla ulla Player-focused
                                    updates games from Mobile App and Enjoy.
                                </p>
                                <a routerLink="/contact" class="tg-btn-1 -btn-yellow">
                                    <span>roadmap</span>
                                    <svg preserveAspectRatio="none" viewBox="0 0 197 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path class="cls-1" fill-rule="evenodd" clip-rule="evenodd"  d="M30.976 0.755987L0.75499 30.977L29.717 58.677H165.717L195.938 30.977L165.717 0.755987H30.976Z" stroke="white" stroke-width="1.5"></path> <path class="cls-2" fill-rule="evenodd" clip-rule="evenodd" d="M166.712 2.01899L196.933 30.98L166.712 58.68L188.118 29.719L166.712 2.01899Z" fill="white"></path>
                                        <path class="cls-2" fill-rule="evenodd" clip-rule="evenodd" d="M30.235 2.01899L0.0139923 30.977L30.235 58.677L8.82899 29.719L30.235 2.01899Z" fill="white"></path>
                                    </svg>
                                </a>
                            </div>
                            <div class="roadMap__img">
                                <img src="/assets/img/others/roadmap.png" class="tg-parallax" data-scale="1.5"
                                    data-orientation="down" alt="roadMap__img" />
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-6">
                            <div class="roadMap__steps-wrap">
                                <div *ngFor="let item of road_map_lists" [ngClass]="{ active: item.active }"
                                    class="roadMap__steps-item">
                                    <h3 class="title">{{item.title}}</h3>
                                    <ul class="roadMap__list list-wrap">
                                        <li *ngFor="let l of item.lists" [ngClass]="{ active: l.active }" class="tg__animate-text style2" [appTextAnimation]="true">
                                            {{l.text}}
                                        </li>
                                    </ul>
                                    <img src="/assets/img/others/roadmap_img.png" alt="img" class="roadMap__steps-img" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>