<section class="banner__area banner__area-two">
    <div class="banner__bg-shape" style="background-image: url(/assets/img/slider/banner_bg_shape3-2.jpg);">
        <img src="/assets/img/slider/banner_bg_shape3-1.jpg" alt="img">
    </div>
    <div class="banner__bg tg-jarallax">
        <img src="/assets/img/slider/banner_bg3.png" alt="img">
    </div>
    <div class="banner__shape banner__shape3-1 jump">
        <img src="/assets/img/slider/slider_shape3-1.svg" alt="img">
    </div>
    <div class="banner__shape banner__shape3-2 movingX">
        <img src="/assets/img/slider/slider_shape3-2.svg" alt="img">
    </div>
    <div class="banner__shape banner__shape3-3 jump-reverse">
        <img src="/assets/img/slider/slider_shape3-3.svg" alt="img">
    </div>
    <div class="container custom-container2">
        <div class="row gy-5 align-items-center flex-row-reverse">
            <div class="col-xl-6">
                <div class="banner__img" data-sal-delay="400" data-sal="slide-left" data-sal-duration="1000">
                    <div class="banner__img-shape">
                        <img src="/assets/img/slider/thumb_bg_shape3-1.jpg" alt="img">
                    </div>
                    <div class="thumb">
                        <img src="/assets/img/slider/slider_img03.png" alt="img">
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="banner__content slider__content">
                    <span class="sub-title2" data-sal-delay="100" data-sal="slide-right" data-sal-duration="1000">
                        Professional Esports Team
                    </span>
                    <h2 class="title" data-sal-delay="200" data-sal="slide-right" data-sal-duration="1000">
                        Game Live
                    </h2>
                    <p data-sal-delay="400" data-sal="slide-right" data-sal-duration="1000">Lorem ipsum dolor sit amet consectetur adipiscing elit, non parturient nulla eleifend in sagittis, torquent semper cubilia cras donec vehicula. Ultrices cubilia venenatis mattis senectus vestibulum etiam...</p>
                    <div class="banner__btn d-flex" data-sal-delay="600" data-sal="slide-right" data-sal-duration="1000">
                        <a routerLink="/contact" class="tg-btn-4">
                            <span>Explore Items</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>