<div>
  <!-- header area start -->
  <app-header-four></app-header-four>
  <!-- header area end -->

  <main class="main--area">

    <!-- hero area start -->
    <app-hero-five></app-hero-five>
    <!-- hero area end -->

    <!-- shop category area start -->
    <app-shop-category></app-shop-category>
    <!-- shop category area end -->

    <!-- shop offer area start -->
    <app-shop-offer-area></app-shop-offer-area>
    <!-- shop offer area end -->

    <!-- shop area start -->
    <app-home-five-shop-area></app-home-five-shop-area>
    <!-- shop area end -->

    <!-- shop deal area start -->
    <app-shop-deal-area></app-shop-deal-area>
    <!-- shop deal area end -->

    <!--  cta area start -->
    <app-cta-area></app-cta-area>
    <!--  cta area end -->

  </main>

  <!-- footer area start -->
   <app-footer-four></app-footer-four>
  <!-- footer area end -->
</div>