<section class="blog-area blog-details-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="blog-post-wrapper">
                <div class="blog-post-item">
                    <div class="blog-post-thumb">
                        <img [src]="blog.img" alt="img" class="w-100">
                    </div>
                    <div class="blog-post-content blog-details-content">
                        <div class="blog-post-meta">
                            <ul class="list-wrap">
                                <li>By<a href="#">{{ blog.author }}</a></li>
                                <li><i class="far fa-calendar-alt"></i> {{ blog.date }}</li>
                                <li><i class="far fa-comments"></i>
                                    <a href="#">{{ blog.comments === 0 ? 'No comments' : blog.comments + ' comments' }}</a>
                                </li>
                            </ul>
                        </div>
                        <h2 class="title">{{ blog.title }}</h2>
                        <p>Excepteur sint occaecat atat non proident, sunt in culpa qui officia deserunt mollit anim id
                            est labor umLor em ipsum dolor amet, consteur adiscing Duis elentum solliciin is yaugue
                            euismods Nulla ullaorper. Ipsum is simply dummy text of printing and typeetting industry.
                            Lorem Ipsum has been the industry's standsaard sipiscing Duis elementum solliciin. Duis aute
                            irure dolor in repderit in voluptate velit esse cillum dolorliquip ex ea commodo repderit in
                            voluptate consequat nulla ullaorper.</p>
                        <blockquote>
                            <p>Duis elentum solliciin is yaugue euismods Nulla ullaorper. Ipsum is simply dummy text of
                                printing and typeetting industry.</p>
                        </blockquote>
                        <p>Axcepteur sint occaecat atat non proident, sunt in culpa qui officia deserunt mollit anim id
                            est labor umLor em ipsum dolor amet, consteur adiscing Duis elentum solliciin is yaugue
                            euismods Nulla ullaorper. Ipsum is simply dummy text of printing and typeetting industry.
                            Lorem Ipsum has been the industry's standsaard sipiscing Duis elementum solliciin. Duis aute
                            irure dolor in repderit.</p>
                        <p>Simply dummy text of printing and typeetting industry. Lorem Ipsum has been the industry's
                            standsaard sipiscing Duis elementum solliciin.Duis aute irure dolor in repderit.</p>
                        <div class="blog-details-inner">
                            <h4 class="inner-title">nft games android no investment</h4>
                            <p>Axcepteur sint occaecat atat non proident, sunt in culpa qui officia deserunt mollit anim
                                id est labor umLor em ipsum dolor amet, consteur adiscing Duis elentum solliciin is
                                yaugue euismods Nulla ullaorper. Ipsum is simply dummy text of printing and typeetting
                                industry. Lorem Ipsum has been the industry's standsaard sipiscing Duis elementum
                                solliciin.Duis aute irure dolor in repderit.</p>
                        </div>
                        <div class="blog-details-inner-img">
                            <img src="/assets/img/blog/blog_post02.jpg" alt="img">
                        </div>
                        <p>Axcepteur sint occaecat atat non proident, sunt in culpa qui officia deserunt mollit anim id
                            est labor umLor em ipsum dolor amet, consteur adiscing Duis elentum solliciin is yaugue
                            euismods Nulla ullaorper. Ipsum is simply dummy text of printing and typeetting industry.
                        </p>
                        <div class="blog-details-bottom">
                            <div class="row">
                                <div class="col-xl-6 col-md-7">
                                    <div class="tg-post-tags">
                                        <h5 class="tags-title">tags :</h5>
                                        <ul class="list-wrap d-flex flex-wrap align-items-center m-0">
                                            <li><a href="#">Esports</a>,</li>
                                            <li><a href="#">Fantasy</a>,</li>
                                            <li><a href="#">game</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-5">
                                    <div class="blog-post-share justify-content-start justify-content-md-end">
                                        <h5 class="share">share :</h5>
                                        <ul class="list-wrap">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li>
                                                <a href="#">
                                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M8.33192 5.92804L13.5438 0H12.3087L7.78328 5.14724L4.16883 0H0L5.46575 7.78353L0 14H1.2351L6.01407 8.56431L9.83119 14H14L8.33192 5.92804ZM6.64027 7.85211L6.08648 7.07704L1.68013 0.909771H3.57718L7.13316 5.88696L7.68694 6.66202L12.3093 13.1316H10.4123L6.64027 7.85211Z"
                                                            fill="currentColor" />
                                                    </svg>
                                                </a>
                                            </li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog__avatar-wrap mb-65">
                    <div class="blog__avatar-img">
                        <a href="#"><img src="/assets/img/blog/avatar.jpg" alt="img"></a>
                    </div>
                    <div class="blog__avatar-info">
                        <span class="designation">Written by</span>
                        <h4 class="name"><a href="#">Kaceytron G.</a></h4>
                        <p>Axcepteur sint occaecat atat non proident, sunt culpa officia deserunt mollit anim id est
                            labor umLor emdolor.</p>
                    </div>
                </div>
                <div class="comments-wrap">
                    <h4 class="comments-wrap-title">3 Comments</h4>
                    <div class="latest-comments">
                        <ul class="list-wrap">
                            <li *ngFor="let comment of comments">
                                <div class="comments-box">
                                    <div class="comments-avatar">
                                        <img [src]="comment.avatar" alt="avatar">
                                    </div>
                                    <div class="comments-text">
                                        <div class="avatar-name">
                                            <h6 class="name">
                                                {{ comment.name }}
                                                <a href="#" class="comment-reply-link">
                                                    <i class="fas fa-reply"></i> Reply
                                                </a>
                                            </h6>
                                            <span class="date">{{ comment.date }}</span>
                                        </div>
                                        <p>{{ comment.content }}</p>
                                    </div>
                                </div>

                                <!-- Nested replies -->
                                <ul class="children" *ngIf="comment.replies">
                                    <li *ngFor="let reply of comment.replies">
                                        <div class="comments-box">
                                            <div class="comments-avatar">
                                                <img [src]="reply.avatar" alt="avatar">
                                            </div>
                                            <div class="comments-text">
                                                <div class="avatar-name">
                                                    <h6 class="name">
                                                        {{ reply.name }}
                                                        <a href="#" class="comment-reply-link">
                                                            <i class="fas fa-reply"></i> Reply
                                                        </a>
                                                    </h6>
                                                    <span class="date">{{ reply.date }}</span>
                                                </div>
                                                <p>{{ reply.content }}</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="comment-respond">
                    <h3 class="comment-reply-title">Leave a Reply</h3>
                    <form class="comment-form" action="#">
                        <p class="comment-notes">Email address will not be published. Required fields are marked *</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-grp">
                                    <input type="text" placeholder="Name *">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-grp">
                                    <input type="email" placeholder="Email *">
                                </div>
                            </div>
                        </div>
                        <div class="form-grp">
                            <textarea name="message" placeholder="Comment *"></textarea>
                        </div>
                        <button type="submit">Post Comment</button>
                    </form>
                </div>
            </div>
            <div class="blog-post-sidebar">
                <!-- Blog Sidebar -->
                <app-blog-sidebar />
                <!-- Blog Sidebar -->
            </div>
        </div>
    </div>
</section>