<div>
    <!-- header area start -->
    <app-header-one></app-header-one>
    <!-- header area end -->

    <main class="main--area">

        <!-- breadcrumb area start -->
        <app-breadcrumb-three title="blog standard" subtitle="blog list"></app-breadcrumb-three>
        <!-- breadcrumb area end -->

        <!-- blog-area start-->
        <app-blog-area-two></app-blog-area-two>
        <!-- blog-area-end -->

    </main>

    <!-- footer area start -->
    <app-footer-one></app-footer-one>
    <!-- footer area end -->
</div>