<div>
    <!-- header area start -->
    <app-header-one/>
    <!-- header area end -->

    <main class="main--area">

        <!-- breadcrumb area start -->
        <app-breadcrumb-one title="SERVICES" subtitle="OUR SERVICES" bg="/assets/img/bg/breadcrumb_bg01.jpg" brd_img="/assets/img/others/breadcrumb_img02.png"/>
        <!-- breadcrumb area end -->

        <!-- services-area start-->
         <app-service-area-two/>
        <!-- services-area-end -->

        <!-- video-area start -->
        <app-video-area/>
        <!-- video-area end -->

        <!-- road map area start -->
        <app-road-map-area/>
        <!-- road map area end -->

    </main>

    <!-- footer area start -->
    <app-footer-one/>
    <!-- footer area end -->

    <!-- video popup area start -->
    <app-video-popup/>
    <!-- video popup area end -->
</div>