<section class="video__area section-pb-120 section-pt-120 bg-img-cover" style="background-image: url(/assets/img/bg/video_bg3.png);">
    <div class="container">
        <div class="row justify-content-xl-between justify-content-center">
            <div class="col-lg-auto">
                <div class="section__title mb-50 title-shape-none text-xl-start text-center">
                    <h6 class="sub-title2">Watch My Live Videos</h6>
                    <h3 class="title2">Online STREAMS</h3>
                </div>
            </div>
            <div class="col-lg-auto text-xl-end align-self-end text-center">
                <ul class="nav nav-tabs video-tab-wrap mb-60" id="myTab" role="tablist">
                    <li *ngFor="let nav of navData" class="nav-item" role="presentation">
                        <button class="nav-link" (click)="handleActiveTab(nav.id)" [class.active]="nav.id === activeTab" [attr.id]="nav.id" type="button" role="tab">{{ nav.title }}</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content" id="myTabContent">
            <div *ngFor="let item of tabContentData" class="tab-pane" [ngClass]="{ 'show active': item.id === activeTab }" [attr.id]="item.id" role="tabpanel" [attr.aria-labelledby]="item.id + '-tab'">
                <div class="video__card">
                    <div class="video-card-shape video-card-shape1">
                        <img src="/assets/img/gallery/video3-card-shape1.png" alt="img">
                    </div>
                    <div class="video-card-shape video-card-shape2">
                        <img src="/assets/img/gallery/video3-card-shape2.png" alt="img">
                    </div>
                    <div class="video-card-shape video-card-shape3">
                        <img src="/assets/img/gallery/video3-card-shape3.png" alt="img">
                    </div>
                    <div class="video-card-shape video-card-shape4">
                        <img src="/assets/img/gallery/video3-card-shape4.png" alt="img">
                    </div>
                    <div class="video-card-img">
                        <img [src]="item.imgSrc" alt="img">
                    </div>
                    <a routerLink="/service-details" class="video-card-title">
                        <span class="icon"><i class="fas fa-link"></i></span>
                        <span class="video-card-title-shape video-card-title-shape2">
                            <img src="/assets/img/gallery/video3-card-title-shape2.png" alt="img">
                        </span>
                        <span class="title">
                            <span class="video-card-title-shape video-card-title-shape1">
                                <img src="/assets/img/gallery/video3-card-title-shape1.png" alt="img">
                            </span>
                            {{item.title}}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>