<section class="trendingNft-area section-pt-120 section-pb-90">
    <div class="container">
        <div class="trendingNft__title-wrap">
            <div class="row">
                <div class="col-md-7">
                    <div class="trendingNft__title">
                        <h2 class="title">top Trending <img src="/assets/img/icons/fire.png" width="35" alt="icon"></h2>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="trendingNft__nav">
                        <button (click)="swiperInstance?.slidePrev()" class="slider-button-prev"><i class="fas fa-angle-left"></i></button>
                        <button (click)="swiperInstance?.slideNext()" class="slider-button-next"><i class="fas fa-angle-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-container trendingNft-active">
            <div class="swiper-wrapper">
                <div *ngFor="let item of nft_items" class="swiper-slide">
                    <div class="trendingNft__item">
                        <div class="trendingNft__item-top">
                            <div class="trendingNft__item-avatar">
                                <div class="image">
                                    <a routerLink="/shop">
                                        <img [src]="item.creator" alt="img">
                                    </a>
                                </div>
                                <div class="info">
                                    <h6 class="name">{{ item.title }}</h6>
                                    <a routerLink="/shop" class="userName">&#64;{{ item.creator_name }}</a>
                                </div>
                            </div>
                            <div class="trendingNft__item-wish">
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="trendingNft__item-image">
                            <a routerLink="/shop"><img [src]="item.img" alt="img"></a>
                        </div>
                        <div class="trendingNft__item-bottom">
                            <div class="trendingNft__item-price">
                                <span class="bid">Last Bid</span>
                                <h6 class="eth"><i class="fab fa-ethereum"></i> {{ item.eth }} <span>Eth</span></h6>
                            </div>
                            <a routerLink="/shop" class="bid-btn">Bid <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>