<div>
  <!-- header area start -->
  <app-header-one></app-header-one>
  <!-- header area end -->

  <main class="main--area">

    <!-- breadcrumb area start -->
    <app-breadcrumb-one
      title="TOURNAMENT"
      subtitle="TOURNAMENT"
      bg="/assets/img/bg/breadcrumb_bg03.jpg"
      brd_img="/assets/img/others/breadcrumb_img03.png"
    />
    <!-- breadcrumb area end -->

    <!-- tournament area start -->
    <app-tournament-area></app-tournament-area>
    <!-- tournament area end -->

    <!-- tournament list area start -->
    <app-tournament-list-area></app-tournament-list-area>
    <!-- tournament list area end -->

  </main>

  <!-- footer area start -->
  <app-footer-one></app-footer-one>
  <!-- footer area end -->
</div>
