<div>
    <!-- header area start -->
    <app-header-three></app-header-three>
    <!-- header area end -->

    <main class="main--area">

        <!-- hero area start -->
        <app-hero-four></app-hero-four>
        <!-- hero area end -->


        <!-- area background start -->
        <div class="area-background" style="background-image: url(/assets/img/bg/area_bg03.png);">

            <!-- brand area start -->
            <app-brand-area top_cls="brand-area4" [hideTitle]="true"></app-brand-area>
            <!-- brand area end -->

            <!-- nft area start -->
            <app-nft-area-two></app-nft-area-two>
            <!-- nft area end -->

            <!-- about area start -->
            <app-about-area-four></app-about-area-four>
            <!-- about area end -->

        </div>
        <!-- area background end -->

        <!-- team area start -->
        <app-team-area-two [style_2]="true"></app-team-area-two>
        <!-- team area end -->

        <!-- video area start -->
        <app-video-area-three></app-video-area-three>
        <!-- video area end -->


        <!-- contact area start -->
        <app-contact-area></app-contact-area>
        <!-- contact area end -->


        <!-- testimonial area start -->
        <app-testimonial-area></app-testimonial-area>
        <!-- testimonial area end -->


         <!-- blog area start -->
        <app-blog-area [style_2]="true"></app-blog-area>
        <!-- blog area end -->

    </main>

    <!-- footer area start -->
     <app-footer-four></app-footer-four>
    <!-- footer area end -->


    <!-- video popup area start -->
    <app-video-popup></app-video-popup>
    <!-- video popup area end -->
</div>