<section class="product-category__area section-pt-120 section-pb-120"
  data-background="/assets/img/bg/item-category-bg.png"
  style="background-image: url(/assets/img/bg/item-category-bg.png);">
  <div class="container custom-container4">
    <div class="row gy-4">
      <div *ngFor="let category of categoryData" [class]="category.columnClass">
        <div class="shop__category">
          <div class="shop__category-thumb">
            <img [src]="category.imgSrc" alt={{category.title}} />
          </div>
          <div class="shop__category-content">
            <h4 class="title">
              <a routerLink="/shop">{{category.title}}</a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>