<section class="about__area4 section-pt-120 section-pb-100">
    <div class="container">
        <div class="row gy-5 flex-row-reverse justify-content-center align-items-center">
            <div class="col-xl-6">
                <div class="about__funFact-images4">
                    <img class="main-img1" data-magnetic src="/assets/img/others/about_img4-1.png" alt="img">
                </div>
            </div>
            <div class="col-xl-6">
                <div class="text-xl-start text-center">
                    <div class="section__title mb-30 title-shape-none">
                        <h6 class="sub-title2">About Our Agency</h6>
                        <h3 class="title2">Global Expert team up the next level.</h3>
                    </div>
                    <div class="about__content-three">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis elementum sollici tudin augue euismod. Nulla ullamcorper nunc. Morbi pharetra mi eu tellus mollis,  tincidunt massa venenatis. Etiam lacinia ipsumultrices.</p>
                    </div>
                    <div class="btn-group mt-4">
                        <a routerLink="/contact" class="tg-btn-5">
                            <span>Learn More</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>